html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
html{
	background-color: #000;
	color: #fff;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	line-height: 1.15;
	color-scheme: dark;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-text-size-adjust: 100%;
	touch-action: manipulation;
	-ms-touch-action: manipulation;
}
header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6px 0;
	z-index: 1;
}
h1{
	margin: 0;
	font-weight: 400;
	font-size: 18px;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
body::before{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url(./arcticfox.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	filter: brightness(0.5);
	content: "";
}
nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	margin: 6px 0;
}
nav>a{
	font-size: 18px;
	color: #fff;
	background-color: rgba(0,0,0,0.25);
	padding: 6px 12px;
	margin: 6px 0;
	border: 1px solid #fff;
	text-decoration: none;
	outline: none;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav>a:hover,nav>a:focus{
	color: #000;
	background-color: rgba(255,255,255,1);
	outline: none;
}