html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
html{
	background-color: #0f0f0f;
	color: #f0f0f0;
	scrollbar-width: thin;
	color-scheme: dark;
	font-family: Verdana,sans-serif;
}
header{
	position: fixed;
	top: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	margin: 0;
	font-weight: 400;
	font-size: 20px;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
}
nav{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
nav>a{
	font-size: 20px;
	color: #f0f0f0;
	background-color: #0f0f0f;
	padding: 6px 12px;
	margin: 6px 0;
	border: 1px solid #f0f0f0;
	text-decoration: none;
}
nav>a:hover,nav>a:focus{
	color: #0f0f0f;
	background-color: #f0f0f0;
	transition: all 0.25s ease-out;
}
::selection {
	background-color: #f0f0f0;
	color: #0f0f0f;
}
@media (prefers-color-scheme: light) {
	html {
		background-color: #f0f0f0;
		color: #0f0f0f;
		color-scheme: light;
	}
	nav>a{
		background-color: #f0f0f0;
		color: #0f0f0f;
		border-color: #0f0f0f;
	}
	nav>a:hover,nav>a:focus{
		color: #f0f0f0;
		background-color: #0f0f0f;
	}
	::selection {
		color: #f0f0f0;
		background-color: #0f0f0f;
	}
}